#!/bin/sh
# Enable strict error handling
set -e

# Function to display messages
echo_message() {
  echo "========================="
  echo "$1"
  echo "========================="
}

# Run npm lint
echo_message "Running lint"
npm run lint

# Run npm format
echo_message "Running prettier"
npm run format

exit 0